[submodule "symfony"]
	path = symfony
	url = https://github.com/KaluginAleksey/symfony.git
	branch = lesson2
[submodule "laravel"]
	path = laravel
	url = https://github.com/KaluginAleksey/laravel.git
	branch = lesson2