[submodule "symfony"]
	path = symfony
	url = https://github.com/KaluginAleksey/symfony/tree/lesson2
[submodule "laravel"]
	path = laravel
	url = https://github.com/KaluginAleksey/laravel/tree/lesson2
